<div class="page-width">
  <h1 class="info-title">Poison Ivy Information</h1>
  <div class="info-intro">
    <div class="intro-container">
      <p>Poison Ivy, Oak, and Sumac grow almost everywhere in the United States except Alaska, Hawaii, and some parts of Nevada. 85% of people are allergic, up to 15% are extremely allergic, and 50 million American get the rash caused by these plants every year.</p>
    </div>
    <div class="intro-container">
      <p>These plants all have an oily mixture called urushiol that causes a rash by sticking to your skin, clothing, and tools. The rash takes around two weeks to heal.
<br><br>Luckily, Aitex can remove this oily mixture that is tough to wash off!</p>
    </div>
  </div>
  <div class="info-chart">
    <div class="chart-row">
      <div class="plant-info">
        <h3>Poison Ivy</h3>
        <p>Poison Ivy is a plant that grows in every U.S. state east of the Rocky Mountains. It can take the form of a climbing vine on trees, a shrub, or even a trailing vine! The leaves can be light and dark green and also take on Fall colors.</p>
      </div>
      <div class="plant-images">
        <div class="plant-map">
          <img src="https://cdn.shopify.com/s/files/1/0025/4984/1993/files/PoisonIvyMap.PNG?14623066349232848046" alt="">
        </div>
        <div class="plant-image">
          <img src="https://cdn.shopify.com/s/files/1/0025/4984/1993/files/Aitex_Logo_Design_Poisen_Ivy.png?4013434376732684440" alt="">
        </div>
      </div>
    </div>
    <div class="chart-row">
      <div class="plant-info">
        <h3>Poison Oak</h3>
        <p>Poison Oak basically grows in every U.S. state west of the Rocky Mountains—including British Columbia. It can take many forms, usually a woody vine or shrub.  The leaves can be red, orange, and/or green.</p>
      </div>
      <div class="plant-images">
        <div class="plant-map">
          <img src="https://cdn.shopify.com/s/files/1/0025/4984/1993/files/PoisonOakMap.PNG?14623066349232848046" alt="">
        </div>
        <div class="plant-image">
          <img src="https://cdn.shopify.com/s/files/1/0025/4984/1993/files/Aitex_Logo_Design_Poison_Oak_1.png?4013434376732684440" alt="">
        </div>
      </div>
    </div>
    <div class="chart-row">
      <div class="plant-info">
        <h3>Poison Sumac</h3>
        <p>Poison Sumac primarily grows in the northeastern and southeastern part of the U.S. (and parts of the Midwest). It is more toxic than Poison Ivy or Poison Oak and can take the form of a shrub or small tree. Like most plants, it is green but can take on typical Fall colors.</p>
      </div>
      <div class="plant-images">
        <div class="plant-map">
          <img src="https://cdn.shopify.com/s/files/1/0025/4984/1993/files/PoisonSumacMap.PNG?14623066349232848046" alt="">
        </div>
        <div class="plant-image">
          <img src="https://cdn.shopify.com/s/files/1/0025/4984/1993/files/Aitex_Logo_Design_Sumac.png?4013434376732684440" alt="">
        </div>
      </div>
    </div>
  </div>

</div>
